
-# -@restaurants.each do |restaurant|
-#   Name：
-#   =link_to restaurant.name, restaurant_path(restaurant)
-#   %br
-#   Address：
-#   =restaurant.address
-#
-#   %br
-#   %hr
-# =link_to "Create New Restaurant", new_restaurant_path



%main#main
  / ======= Works Section =======
  %section.section.site-portfolio
    .container
      .row.mb-5.align-items-center
        .col-md-12.col-lg-6.mb-4.mb-lg-0{"data-aos" => "fade-up"}
          %h2 らあめん日誌
          %p.mb-0 毎日更新中！
        .col-md-12.col-lg-6.text-left.text-lg-right{"data-aos" => "fade-up", "data-aos-delay" => "100"}
          #filters.filters
            %a.active{"data-filter" => "*", :href => "#"} 全て
            %a{"data-filter" => ".web", :href => "#"} こってり
            %a{"data-filter" => ".design", :href => "#"} あっさり
            %a{"data-filter" => ".branding", :href => "#"} つけ麺
            %a{"data-filter" => ".photography", :href => "#"} 油そば
      #portfolio-grid.row.no-gutter{"data-aos" => "fade-up", "data-aos-delay" => "200"}
        -@restaurants.each do |restaurant|
          .item.web.col-sm-6.col-md-4.col-lg-4.mb-4
            =link_to restaurant_path(restaurant), class: 'item-wrap fancybox' do
              .work-info
                %h4=restaurant.name
                %span=restaurant.address
              =image_tag restaurant.image_url(:thumb), class: 'img-fluid'

=link_to "新規追加", new_restaurant_path
