
=@restaurant.name
=@restaurant.address
=@restaurant.rate
%br
=link_to "Update information", edit_restaurant_path(@restaurant)
%br
=link_to "Back to index", restaurants_path
%br
=link_to "Delete", restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure to delete?"}
